<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <!-- Navigation bar -->
        <nav>

        </nav>

        <div id="main-section">

            <!-- Room selection -->
            <nav id="sidebar">
                <h4>ROOMS</h4>
                {% for room in rooms %}
                    <p id="select-room">
                        {{ room|title }}
                    </p>
                {% endfor %}
            </nav>

            <!-- Message section -->
            <div id="rightside-pannel">
                <!-- Display message -->
                <div id="display-message-section">

                </div>
                <!-- Input message -->
                <div id="input-area">
                    <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">

                    <button type="button" id="send_message">SEND</button>
                </div>
            </div>
        </div>

        <!-- Get username -->
        <script type="text/javascript">
            const username = `{{ username }}`;
        </script>

        <!-- Custom chat JS -->
        <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

        <!-- SocketIO JS -->
        <script type="text/javascript" src="https://cdn.socket.io/3.1.3/socket.io.min.js"
                integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
                crossorigin="anonymous"></script>

        <!-- Custom SocketIO JS -->
        <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    </body>
</html>